*.env
dd.md

__pycache__/
*.py[cod]
*.pyo

db.sqlite3
media/
staticfiles/

.vscode/
.idea/
*.swp
templates/
quests/templates/404.html
quests/templates/403.html
quests/templates/400.html
quests/templates/500.html
quests/templates/robots.txt
quests/templates/yandex_9a99c4bc5ddefd70.html